body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #9256bd;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #d8dbe4;
  text-decoration: none;
}

section {
  padding: 20px;
}

h1 {
  color: #faf2fa; /* Purple */
}
h2 {
  color: #9b149b; /* Purple */
}

footer {
  background-color: #813fb0;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.hero {
  text-align: center;
}

.hero img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.description {
  text-align: justify;
}

.testimonial {
  text-align: center;
  margin-top: 40px;
}

.testimonial-item {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.testimonial-item p {
  margin: 0 0 10px 0;
}

.testimonial-item .author {
  font-style: italic;
}
